params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}


process {
withName: '.*' { conda = null }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = 'quay/biocontainers/python:3.8.3' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'quay/biocontainers/multiqc:1.17--pyhdfd78af_0' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.12.1--hdfd78af_0' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.18--pyhdfd78af_0' }
withName: '(.+:)?FASTP' { container = 'quay/biocontainers/fastp:0.23.4--h5f740d0_0' }
withName: '(.+:)?SPADES' { container = 'quay/biocontainers/spades:3.15.5--h95f258a_1' }
}